<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="WordPressEntities" connectionString="metadata=res://*/DbModel.WpDbModel.csdl|res://*/DbModel.WpDbModel.ssdl|res://*/DbModel.WpDbModel.msl;provider=MySql.Data;provider connection string=&quot;User Id=root;Password=stdAdmPass4WinStudents;Host=127.0.0.1;Database=wordpress;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>