<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ChocolateCustomizerEntities" connectionString="metadata=res://*/DataBases.Model.csdl|res://*/DataBases.Model.ssdl|res://*/DataBases.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=ChocolateCustomizer;persist security info=True;user id=BWI_CST4;password=Aget1Efa15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>