<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Devart.Data" version="5.0.1964" targetFramework="net461" requireReinstallation="true" />
  <package id="Devart.Data.MySql" version="8.11.1172" targetFramework="net461" requireReinstallation="true" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.Win32.Registry" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.AccessControl" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
  <package id="System.Security.Principal.Windows" version="4.4.0" targetFramework="net461" requireReinstallation="true" />
</packages>