<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="customSettings" type="AppServiceHost.CorsConfiguration.CustomSettings, AppServiceHost" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!--Local ConnectionString-->
  <!--<connectionStrings>
    <add name="ChocolateCustomizerEntities" connectionString="metadata=res://*/DataBases.Model.csdl|res://*/DataBases.Model.ssdl|res://*/DataBases.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=wi-gate.technikum-wien.at,60635;initial catalog=ChocolateCustomizer;persist security info=True;user id=bwi_cst4;password=Aget1Efa15;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>-->

  <!--Server ConnectionString-->
 <connectionStrings>
    <add name="ChocolateCustomizerEntities" connectionString="metadata=res://*/DataBases.Model.csdl|res://*/DataBases.Model.ssdl|res://*/DataBases.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=127.0.0.1;initial catalog=ChocolateCustomizer;persist security info=True;user id=BWI_CST4;password=Aget1Efa15;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WordPressEntities" connectionString="metadata=res://*/DbModel.WpDbModel.csdl|res://*/DbModel.WpDbModel.ssdl|res://*/DbModel.WpDbModel.msl;provider=Devart.Data.MySql;provider connection string=&quot;User Id=root;Password=stdAdmPass4WinStudents;Host=127.0.0.1;Database=wordpress;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  


  <system.serviceModel>

    <services>
      <service name="AppSD.AppServiceService">
        <endpoint address="" binding="webHttpBinding" contract="AppSD.IAppServiceService" behaviorConfiguration="json">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/AppServiceService/" />
          </baseAddresses>
        </host>
      </service>

    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <!--<serviceDebug includeExceptionDetailInFaults="true" />-->
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>

        <behavior name="json">
          <webHttp automaticFormatSelectionEnabled="false" defaultBodyStyle="WrappedRequest" defaultOutgoingResponseFormat="Json" />

          <enableCors />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <extensions>
      <behaviorExtensions>
        <add name="enableCors" type="AppServiceHost.EnableCorsSupportBehaviorElement, AppServiceHost" />
      </behaviorExtensions>
    </extensions>


  </system.serviceModel>

  <customSettings>
    <CorsSupport>
      <Domain
          Name="http://localhost:4200"
          AllowMethods="POST, GET, OPTIONS"
          AllowHeaders="Content-Type"
          AllowCredentials="true">
      </Domain>
    </CorsSupport>
  </customSettings>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.12.0" newVersion="6.9.12.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>